node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


.capacitor/
.idea/
*.iml
**/local.properties
*.apk
*.aab
*.hprof
**/xcuserdata/
*.xcuserstate
*.ipa
*.dSYM.zip
*.jks
*.keystore
